table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

[name="trashicon"] {
   width: 25px;
  height: auto;
}

[name="arrowicon"] {
   width: 50px;
  height: auto;
}

[class="grid-container"] {
  object-fit:contain;
  max-width:75%;
  max-height:auto;
  display: grid;
}

[class="scale"]{
	object-fit:contain;
	max-width:250px;
	max-height:auto;
}